.height {
  min-height: 100vh;
}

.height-80 {
  min-height: 80vh;
}

body {
  font-family: "Acme", sans-serif;
}

p {
  font-family: "Roboto", sans-serif;
}

.underline {
  width: 13em;
  height: 0.5em;
  margin: 0 auto;
}

.underline_projects,
.underline_team,
.underline_progress,
.underline_pricing {
  width: 6em;
  height: 0.5em;
  margin: 0 auto;
}

.about-image {
  background-image: url(../image/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#filler,
#progress {
  background-image: linear-gradient(rgba(0, 0, 255, 0.1), rgba(255, 0, 64, 0.3)),
    url(../image/city.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* #modal-close {
  transform: scale(2);
} */
